
{% extends 'cochecito/base.html' %}

{% block contenido %}
<h2>Listado de automoviles</h2>
<table>
    <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Opciones</th>
        <th>Imagen</th>
    </tr>

    {% for a in autos %}
    
    <tr>
        <td>{{ a.placa }}</td>
        <td>{{ a.marca.nombre }}</td>
        <td>{{ a.modelo }}</td>
        <td>{{ a.anio }}</td>
        <td>
            {% if a.imagen %}
            <img src="{{ a.imagen.url}}" width="200" height="200">
            {% endif %}
        </td>
        <td>
            <a href="{% url 'eliminar_automovil' a.id %}">Eliminar</a>
            <a href="{% url 'modificar_automovil' a.id %}">Modificar</a>
        </td>
    </tr>

    {% endfor %}

</table>
    
{% if messages %}

    {% for m in messages %}
    
    <div>{{ m }}</div>

    {% endfor %}

{% endif %}

{% endblock contenido %}
